@import "./assets/fonts/fonts.css";

* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: no-repeat
            linear-gradient(
                to top,
                rgba(0, 0, 0, 0) 0%,
                rgba(0, 0, 0, 0.7) 100%
            ),
        center 100% / cover fixed no-repeat url("./assets/img/background.jpg");
}

.wikiSearch {
    padding-top: 50px;
    width: 80vw;
    margin: 0 auto;
}

.wikiSearch__panel {
    display: flex;
    align-items: center;
    height: 40px;
    color: white;
    justify-content: space-between;
    font-family: "Montserrat";
}

.wikiSearch__language {
    height: 100%;
    width: 50px;
}

.wikiSearch__search,
.wikiSearch__language {
    height: 110%;
    border: none;
    transition: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
    background-color: rgba(173, 173, 173, 0.5);
}

.wikiSearch__search {
    font-size: 24px;
    color: white;
    width: 13%;
}

.wikiSearch__input {
    padding: 15px 5px;
    height: 100%;
    outline: none;
    width: 80%;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 24px;
    border: 2px solid white;
}

.wikiSearch__list {
    list-style: none;
    padding: 0;
    width: 100%;
    margin: 0 auto;
}

.wikiSearch__list-item {
    width: 100%;
    font-family: "Montserrat";
    font-size: 20px;
}

.wikiSearch__link {
    height: 35px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(173, 173, 173, 0.526);
    padding: 5px;
    text-decoration: none;
    color: white;
    width: 100%;
    display: block;
    transition: 0.4s;
}

.wikiSearch__link:hover {
    background-color: rgba(184, 184, 184, 0.4);
}

.wikiSearch__search:hover,
.wikiSearch__language:hover {
    background-color: rgba(173, 173, 173, 0.9);
    color: black;
}

.wikiSearch__img {
    width: 85%;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

@media (max-width: 1439px) {
    .wikiSearch {
        width: 90vw;
    }
    .wikiSearch__search {
        width: 15%;
    }
    .wikiSearch__input {
        width: 75%;
    }
}

@media (max-width: 767px) {
    .wikiSearch__panel {
        display: flex;
        height: auto;
        flex-direction: column;
    }
    .wikiSearch__img {
        width: 50px–∞;
    }
    .wikiSearch__search,
    .wikiSearch__language,
    .wikiSearch__input {
        width: 100%;
        font-size: 28px;
    }

    .wikiSearch__search,
    .wikiSearch__language {
        margin-top: 10px;
        padding: 10px;
    }

    .wikiSearch__language {
        height: auto;
    }
    .wikiSearch__link {
        font-size: 28px;
        height: auto;
    }
}
